OPENAI_API_KEY=AIzaSyCHFxnN2J6m0bLfvkmPG7i3TgHlaK1KmMk
RESEND_API_KEY=resend-api-key
RESEND_FROM_EMAIL=ofirbts@gmail.com
RESEND_TO_EMAIL=ofirbts@gmail.com
BACKEND_URL=http://127.0.0.1:8000
SHOW_DEBUG_META=false
USE_QUALITY_LLM=false
